mixin enumSelect(rvValue, enumType, rvEachType)
    div
        select.selectpicker(rv-value=rvValue + " | formatEnum '" + enumType + "'")
            option(rv-each-type=rvEachType + " | formatEnumVals '" + enumType + "'") { type }


mixin generalSelect(pickerId, pickerTitle, formatter, rvEachType, extraClasses)
    select.selectpicker(id=pickerId, title=pickerTitle, class=extraClasses)
        if formatter == ""
            option(rv-each-type=rvEachType) { type }
        else
            option(rv-each-type=rvEachType + " | " + formatter) { type }
