div.selector(id=id("entity-selector"))
    div.dropdown
        button(id=id("selector-dropdown"), type="button", data-toggle="dropdown",
            aria-haspopup="true", aria-expanded="false")
            span { currentEntityName }
            span.caret
        ul.dropdown-menu(aria-labelledby=id("selector-dropdown"))
            li(rv-each-entity="entityNames") { entity }
div.forms(id=id("entity-form-container"))
    p Entity forms will go here!
    view-model(vm="@framework.listvm.ListVM", data="adapter")


div.component-adder(id=id("add-component-button"))
    p Control to add components will go here!